/* Gerais */
body {
    font-family: 'Playfair Display', 'Roboto';
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: black;
    font-size: 15px;
}

/* Barra de navegação */
header, .navbar {
    background-color: #C7998C;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 79px;
    height: 70px;
}

.navbar-brand {
    padding: 0;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

#navbar-links a {
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Slider */

.container-fluid {
    padding: 0;
  }
  
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
  }
  
  #mainSlider .carousel-caption {
    top: 30%;
  }
  
  #mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  
  #mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
  }

  /* Sobre a empresa */

#about-area {
    background-color: #F9F9F9;
  }
  
  .main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
  }
  
  .main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
  }
  
  .about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  #about-list {
    list-style: none;
    padding-left: 0;
  }
  
  #about-list li {
    line-height: 30px;
  }
  
  #about-list i {
    color: #65DAF9;
    margin-right: 15px;
  }
  
  /* sswswow */
  #featured-container {
    margin-bottom: 4em;
  }
  
  .title {
    font-size: 1.75em;
    margin-bottom: 0.4em;
    position: relative;
  }
  
  .title:before {
    width: 75px;
    border-top: 4px solid #7a7a7a;
    content: '';
    position: absolute;
    bottom: 2em;
  }
  
  #featured-images {
    margin-top: 2em;
  }
  
  #featured-images .col-md-4 {
    position: relative;
    cursor: pointer;
  }
  
  #featured-images .col-md-4:hover > .banner-content {
    opacity: 0.8;
  }
  
  #featured-images .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
  }
  
  @media (min-width: 768px) {
    .title {
      font-size: 2.4em;
    }
  
    .title:before {
      bottom: 1.5em;
    }
  
    #featured-images .banner-content {
      opacity: 0;
    }
  }
  
  .title {
    font-size: 1.75em;
    margin-bottom: 0.4em;
    position: relative;
  }
  
  .title:before {
    width: 75px;
    border-top: 4px solid #7a7a7a;
    content: '';
    position: absolute;
    bottom: 2em;
  }
  
  #featured-images {
    margin-top: 2em;
  }
  
  #featured-images .col-md-4 {
    position: relative;
    cursor: pointer;
  }
  
  #featured-images .col-md-4:hover > .banner-content {
    opacity: 0.8;
  }
  
  #featured-images .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
  }
  
  @media (min-width: 768px) {
    .title {
      font-size: 2.4em;
    }
  
    .title:before {
      bottom: 1.5em;
    }
  
    #featured-images .banner-content {
      opacity: 0;
    }
  }
  
  /* WFWEFWEF */

  #contact-area {
    text-align: center;
    background-color:#A69180;
  }
  
  .contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid;
  }
  
  .contact-box i {
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-box p {
    font-size: 16px;
  }
  
  .contact-tile {
    font-weight: bold;
    color: #000000;
  }
  
  #msg-box p {
    font-size: 22px;
  }
  
  #contact-form input[type="text"], #contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
  }
  
  #contact-form .main-btn {
    width: 120px;
    height: 50px;
  }
  
  #contact-form .main-btn:hover {
    color: #000000;
  }
